<div style="height: 100vh; display: flex; justify-content:center; align-items:center;">
    <div class="border border-danger rounded p-3" style="width: auto; height:500px; display:flex;justify-content:center; align-items:center; flex-direction: column;">
        <h1>UPSS! ha surgido un error.</h1>
        <p>No te preocupes <strong>toca el boton</strong> y volve a intentar.</p>
        <button class="btn btn-danger" onclick="window.location.href = 'http://localhost:8080/products';">Volver al comienzo</button>
    </div>
</div>