<div
  class="container-fluid d-flex justify-content-center align-items-center text-center"
  style="height:100vh; margin:0 auto; padding:0;"
>
  <div class="border" style="width: 400px; height:auto; min-height:600px">
    <h1>Chat</h1>
    <div class="d-block justify-content-center">
      <i id="username">{{user}}</i><input id="chatbox" type="text" />
    </div>
    <div id="log"></div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>