<div style="height: 100vh; display: flex; justify-content:center; align-items:center;">
    <div class="border border-success rounded p-3" style="width: auto; height:500px; display:flex;justify-content:center; align-items:center; flex-direction: column;">
        <h1>La compra ha sido realizada con éxito.</h1>
        <p>Su número de ticket es <strong>{{ticket}}</strong>. Pronto recibirás novedades sobre tus productos.</p>
        <button class="btn btn-success" onclick="window.location.href = 'http://localhost:8080/products';">Volver al comienzo</button>
    </div>
</div>